
########################        Developing Environment          ########################

# Mypy is essentially a Python linter on steroids,
# and it can catch many programming errors by analyzing your program, without actually having to run it.
# Mypy is required by Anki add-on development.
mypy

# Qt is set of cross-platform C++ libraries that implement high-level APIs for accessing many aspects
# of modern desktop and mobile systems.
# PyQt5 is a comprehensive set of Python bindings for Qt v5.
# (required by pyqt5-tools)
# PyQt5

# It will raise error when fetch Anki’s bundled source code:
# `Running setup.py install for PyAudio ... error`
# So we need to install PyAudio through wheel. Find the appropriate `PyAudio-*.whl` file
# from https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyaudio, and download it.
# PyAudio

# Anki and Aqt is installed using wheel. Download the `anki-*.whl` and `aqt-*.whl` file
# corresponding to the version you want to target from https://github.com/ankitects/anki-typecheck
# anki
# aqt

########################            Developing Tools            ########################

# Pylint is a Python static code analysis tool which looks for programming errors.
pylint

# Pyqt5-tools provide tools such as Qt Designer
pyqt5-tools

# Type hints for PyQt5 is needed or Pycharm will pop up to notify you.
PyQt5-stubs

# Remove a package and its unused dependencies.
# pip-autoremove

# Display the installed python packages in form of a dependency tree.
# pipdeptree
